- @comment = comment if local_assigns.has_key? :comment
%section.comment-container
  =image_tag(@comment.user.avatar, class: 'avatar')
  %section.comment
    .inner
      %p.commenter
        %strong=@comment.user.name
        said
      %p= @comment.text
