- @comment = comment if local_assigns.has_key? :comment
%section.comment-container
  =image_tag('commenter.png', class: 'avatar')
  %section.comment
    .inner
      %p.commenter
        %strong=@comment.name
        said
      %p= @comment.text
