- @comment = comment if local_assigns.has_key? :comment
= form_for([@comment.post, @comment], remote: true) do |f|

  = f.text_field :name
  = f.text_field :text

  = f.submit value: 'Write something clever', id: 'add_comment', data: { ready: false }
