= simple_form_for [comment.post, comment], remote: true do |f|
  - if current_user
    = f.input :text, placeholder: 'Write something clever', image: current_user.avatar
  - else
    %section.notice
      %span= t('login')
