/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: bitter;
  font-weight: normal;
  font-style: normal;
  src: url(/assets/bitter/bitter.eot);
  src: url(/assets/bitter/bitter.eot?#iefix) format("embedded-opentype"), url(/assets/bitter/bitter.woff) format("woff"), url(/assets/bitter/bitter.ttf) format("truetype"), url(/assets/bitter/bitter.svg#bitter) format("svg"); }

@font-face {
  font-family: typewriter;
  font-weight: normal;
  font-style: normal;
  src: url(/assets/typewriter/typewriter.eot);
  src: url(/assets/typewriter/typewriter.eot?#iefix) format("embedded-opentype"), url(/assets/typewriter/typewriter.woff) format("woff"), url(/assets/typewriter/typewriter.ttf) format("truetype"), url(/assets/typewriter/typewriter.svg#typewriter) format("svg"); }

body {
  font-family: 'bitter';
  font-size: 18px;
  line-height: 26px;
  background: #eeeeee;
  color: #2c3e50;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit;
  margin: 2% 0; }

h1 {
  font-size: 2.5em;
  line-height: 1em; }

h2 {
  font-size: 2.5em;
  line-height: 1em; }

h3 {
  font-size: 1.5em;
  line-height: 1em; }

.posts ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #41b7d8;
  text-decoration: none; }

#main {
  background: #fff;
  padding: 5%;
  margin-bottom: 15%;
  margin-right: 33%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075) ; }

header h1 {
  font-family: 'typewriter';
  margin: 3% 0;
  font-size: 3.7em;
  font-weight: normal;
  text-align: center; }
textarea {
  height: 600px;
  width: 500px; }
