/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *





 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: bitter;
  font-weight: normal;
  font-style: normal;
  src: url(/assets/bitter/bitter.eot);
  src: url(/assets/bitter/bitter.eot?#iefix) format("embedded-opentype"), url(/assets/bitter/bitter.woff) format("woff"), url(/assets/bitter/bitter.ttf) format("truetype"), url(/assets/bitter/bitter.svg#bitter) format("svg"); }

@font-face {
  font-family: typewriter;
  font-weight: normal;
  font-style: normal;
  src: url(/assets/typewriter/typewriter.eot);
  src: url(/assets/typewriter/typewriter.eot?#iefix) format("embedded-opentype"), url(/assets/typewriter/typewriter.woff) format("woff"), url(/assets/typewriter/typewriter.ttf) format("truetype"), url(/assets/typewriter/typewriter.svg#typewriter) format("svg"); }

body {
  font-family: 'bitter';
  font-size: 18px;
  line-height: 26px;
  background: #eeeeee;
  color: #2c3e50;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit;
  margin: 2% 0; }

h1 {
  font-size: 2.5em;
  line-height: 1em; }

h2 {
  font-size: 2.5em;
  line-height: 1em; }

h3 {
  font-size: 1.5em;
  line-height: 1em; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #41b7d8;
  text-decoration: none; }

textarea {
  height: 150px; }

#main {
  background: #fff;
  padding: 3%;
  margin-bottom: 15%;
  margin-right: 33%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075) ; }

.notice {
  border: 1px dashed #e95c33; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header h1 {
  font-family: 'typewriter';
  margin: 3% 0;
  font-size: 3.7em;
  font-weight: normal;
  text-align: center; }

.form-input {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .form-input:before, .form-input:after {
    content: " ";
    display: table; }
  .form-input:after {
    clear: both; }
  .form-input label {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .form-input label:last-child {
      margin-right: 0; }
  .form-input input, .form-input textarea {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .form-input input:last-child, .form-input textarea:last-child {
      margin-right: 0; }

#post-form textarea {
  height: 300px; }

.post-container {
  position: relative;
  display: block;
  margin-bottom: 5%;
  padding: 3%; }

.post {
  padding: 3%;
  margin-bottom: 3%; }

.author {
  position: absolute;
  right: 3%;
  width: 55px;
  height: 55px;
  background: #e95c33; }

#post {
  border-bottom: 1px dashed #ddd; }

img {
  max-width: 100%; }
#comments {
  margin-top: 3%; }

.comment {
  display: block;
  margin-bottom: 2%;
  background: rgba(222, 222, 222, 0.4);
  padding: 1%; }

.comment-face {
  position: absolute;
  margin-left: 65%;
  width: 55px;
  height: 55px;
  background: #e95c33;
  margin-top: 1%;
  opacity: 0.4; }

.comment-face.active {
  opacity: 1; }
.bookmark {
  position: absolute;
  margin-left: 65%;
  opacity: 0.4; }

.bookmark.active {
  opacity: 1; }
#log-in {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5%;
  margin-right: 5%;
  opacity: .6; }
