%section.background
  %section.layer{ data: { depth: 0.4 } }
    %section.cloud
    %section.cloud
    %section.cloud
    %section.cloud
  %section.layer{ data: { depth: 0.6 } }
    %section.birds
    %section.birds
    %section.birds

  %section.wave
