%section.logo
  =link_to root_path do
    .logo-icon(title="Go home, brah")
      =image_tag('logo_min.svg')
%section.user-tools
  - unless current_user.nil?
    = render 'users/tools'
  - else
    %a.login.google
      %i.fa.fa-lg.fa-google-plus(title="Sign in")
    %a.login.github
      %i.fa.fa-lg.fa-github(title="Sign in")
