%section.logo
  =link_to root_path do
    .logo-icon(title="Go home, brah")
      =image_tag('logo_min.svg')
%section.user-tools
  - if current_user.nil?
    %a.login.google
      %i.fa.fa-lg.fa-google-plus(title="Sign in")
    %a.login.twitter
      %i.fa.fa-lg.fa-twitter(title="Sign in")
  - else
    - if current_user.nplol?
      %a.new-post{ href: new_post_path }
        %i.fa.fa-lg.fa-pencil(title="New Post")
    %a.settings
      %i.fa.fa-lg.fa-cog(title="Settings")

  %section.omniauth-token(style="display:none;")=session['omniauth.state']

= render 'users/menu' if current_user
