%section.logo
  =link_to root_path do
    .logo-icon(title="Go home, brah")
      =image_tag('logo_min.svg')
%section.user-tools
  - if logged_in?
    = render 'users/tools'
  - else
    %a.login.google
      %i.fa.fa-lg.fa-google-plus(title="Sign in")
