- if current_user.nil?
  %a.login.google{ href: authenticate_path }
    %i.fa.fa-google(title="Sign in")
- else
  %a.new-post
    %i.fa.fa-pencil(title="New Post")
  %a.settings
    %i.fa.fa-cog(title="Settings")

= render 'users/menu'
