%section.posts
  %ul
  - @posts.each do |post|
    %li.post-container
      %article.post
        %h1.title
          = link_to post.title, dev_post_path(post)
        %p
          =truncate_html(markdown(post.content), length: 1000, omission: " [...] #{ link_to 'Read more', dev_post_path(post) }")
          .post-meta= link_to "#{post.comments.count} comment(s)", dev_post_path(post)
