-#%section#assets-form.dim
-#
-#  #close-asset-form
-#    %i.fa.fa-times.fa-lg
-#
-#  = form_for @asset do |f|
-#
-#    %section.form-input
-#      = f.label :image
-#      = f.file_field :image
-#
-#      = f.submit
-#
-#  = content_tag('button', 'Add more images?', {id: 'add-asset', 'data-url' => new_asset_path })
-#
-#= javascript_include_tag 'assets'