%section.post-data
  %h3= post.title
  - if post.popular
    %i.fa.fa-bolt
  - if post.top
    %i.fa.fa-trophy
%section.post-image
  =image_tag post.image.url(:medium)
%section.meta
  - if post.likes.count > 0
    %i.fa.fa-heart
    %span= post.likes.count if post.likes.count > 1
  - else
    %i.fa.fa-heart-o

