%section.post-image
  =image_tag post.image.url(:thumb)
%section.post-data
  %section.post-inner
    = link_to post do
      %h3= post.title
    - if post.likes.count > 0
      %i.fa.fa-heart{title: "#{post.likes.count} user(s) like this post"}
    - if post.popular
      %i.fa.fa-bolt{title: 'This post is popular'}
