%header
	%h1 nplol

%section.posts
	%ul
		- @posts.each do |post|
			%li.post-container
				%article.post
					%h1
						= post.title
					%p
						= markdown(truncate(post.content, length: 300, omission: ' [...] ') {link_to "Read more", post})
					.speech-bubble		
				.author

= link_to "New post", new_post_path
