%section#posts
  - @posts.each do |post|
    - if post.meme?
      .post.meme{ data: { post_id: post.id } }
        %article
          %h3=post.title
          .image
            =image_tag(post.image.url(:medium))
    - else
      .post{ data: { post_id: post.id } }
        %article
          %h3=post.title
          %p
            = markdown(post.content)
=image_tag('plane.png', id: 'plane')
