%section#posts
  - @posts.each do |post|
    .post{ data: { post_id: post.id } }
      %article
        %h3= post.title
        - if post.is_a?(Meme)
          =image_tag(post.image.url(:medium))
        - else
          %p= markdown(post.content)

:javascript
  $(document).ready(function() {
    app.emit('post_grid');
  });
