%article#post
  %h1 New post

  %section
    %select.post-type
      =options_for_select([['Normal', post_form_path], ['Meme', meme_form_path]])
    %section#post-form
      - if @post.meme?
        = render 'meme_form'
      - else
        =render 'form'

=javascript_include_tag 'posts'