/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require posts
 */

@import "bourbon";
@import "neat";

@include font-face(bitter, 'bitter/bitter', normal, $asset-pipeline: true);
@include font-face(typewriter, 'typewriter/typewriter', normal, $asset-pipeline: true);

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    box-shadow:$top $left $blur $color #{$inset};
}

$red: #e95c33;
$blue: #41b7d8;

body {
	font-family: 'bitter';
	font-size: 18px;
	line-height: 26px;
	background: #eeeeee;
	color: #2c3e50;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
   font-family: inherit;
   font-size: inherit;
   margin: 2% 0;
}

h1 {
   font-size: 2.5em;
   line-height: 1em;
}

h2 {
   font-size: 2.5em;
   line-height: 1em;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
}

 .posts ul {
	list-style:none;
	margin:0;
	padding:0;
}

 a {
 	color: $blue;
 	text-decoration: none;
 }

#main {	
 	background: #fff;
	padding: 3%;
	margin-bottom: 15%;
	margin-right: 33%;
	@include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.075));
 }

header h1 {
 	font-family: 'typewriter';
 	margin: 3% 0;
 	font-size: 3.7em;
 	font-weight: normal;
	text-align: center;
}

.input-container {
  @include outer-container;
  label { @include span-columns(3); }
  input { @include span-columns(9); }
}