/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";

// @include font-face(DroidSerif, 'droid_serif/DroidSerif', normal, $asset-pipeline: true);
@include font-face(test, 'my_underwood/MyUnderwood', normal, $asset-pipeline: true);

ul, li {
	list-style: none;
	margin: 0;
	padding:0;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    box-shadow:$top $left $blur $color #{$inset};
  }

 body {
 	font-family: 'DroidSerif';
	font-size: golden-ratio(14px,0);
	background: #eeeeee;
	color: #333333;
	width: 65%;
	margin: 0 auto;
 }

 #blog {
 	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	@include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.075));
 }

 header h1 {
 	font-size: golden-ratio(14px, 3);
 	font-family: 'MyUnderwood';
	text-align: center;
	padding: 0 0 10px 0;
}

article h1 {
	font-size: golden-ratio(14px, 1);
}