/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require posts
 *= require comments
 */

@import "bourbon";
@import "neat";

@include font-face(bitter, 'bitter/bitter', normal, $asset-pipeline: true);
@include font-face(bitter-bold, 'bitter/bitter-bold', normal, $asset-pipeline: true);
@include font-face(typewriter, 'typewriter/typewriter', normal, $asset-pipeline: true);

// application-wide mixins
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    box-shadow:$top $left $blur $color #{$inset};
}

// application-wide variables
$red: #e95c33;
$blue: #41b7d8;

// application-wide styles 

strong {
  font-family: 'bitter-bold';
}

body {
	font-family: 'bitter';
	font-size: 18px;
	line-height: 26px;
	background: #fff;
	color: #2c3e50;
}

header {
  font-family: 'typewriter';
  font-size: 1.75em;
  padding: 2%;
  position: fixed;
  top:0;
  left:0;
  a {
    color: #2c3e50;
  }
}

input[type=submit] {
  @include button($red);
}


#main {
  width: 50%;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
   font-family: inherit;
   font-size: inherit;
   margin: 3% 0;
}

.title {
  font-size: 3em;
  margin: 8%;
  a {
    color: #2c3e50;
  }
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}

a {
	color: $blue;
	text-decoration: none;
}

input[type=text] {
  font-family: 'bitter';
  font-size: 16px;
  padding: 1%;
}

textarea {
  height: 150px;
  resize: vertical;
  font-family: 'bitter';
  font-size: 16px;
  padding: 1%;
}

.notice {
  padding: 1%;
}
.error {
  background-color: rgba($red, 0.3);
}
.message {
  background-color: rgba($blue, 0.3);
}

@media (max-width: 767px) {
  #main {
  margin: 0;
  width: 100%;
}
}