@import 'bourbon';
@import 'colors';

#post, .article {
  flex: 1;
  margin: 0 auto;
  max-width: 960px;
  background: $white;
  padding: 30px 80px;
  flex-direction: column;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

#post a { color: $black; }
#post i { margin-right: 5px; }
.post-meta section { flex: 1; align-items: center; justify-content: center;  }
.details { flex-direction: column; }
.details section { flex: 1; margin-top: 15px; }
.content { margin: 30px 0; justify-content: center; }

//
//   .post-meta {
//     display:flex;
//     text-align: center;
//     margin: 30px 0;
//
//     section {
//       flex: 1;
//
//       &.content {
//         font-size: 16px;
//         line-height: 24px;
//       }
//     }
//   }
//
//   img {
//     display: block;
//     margin: 0 auto;
//     max-width: 100%;
//
//     &.meme-image {
//       cursor: pointer;
//     }
//   }
//
//   .related {
//     display: flex;
//
//     #comments {
//       display: flex;
//       flex-direction: column;
//       width: 70%;
//       flex: none;
//     }
//
//     #details {
//       flex: 1;
//       padding: 20px;
//       box-sizing: border-box;
//
//       span {
//         display: block;
//         margin-bottom: 20px;
//       }
//
//       a {
//         color: $black;
//         .liked {
//           color: $red;
//         }
//         .likes {
//           display: inline-block;
//         }
//       }
//
//     }
//
//   }
//
//   .message {
//     padding: 10px 20px;
//     box-sizing: border-box;
//   }
//
// }
