@import 'colors';
@import 'bourbon';

#add_asset {
  display: block;
  margin: 20px 0;
  color: $black;
}

#new_asset {
  padding: 30px;
  background: $white;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  margin-top: -150px;
}


#assets {
  border-top: 1px solid #ddd;

  .images {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    img {
      margin:0;
      margin-right: 10px;
    }

  }

  .asset {
    opacity: 0.6;

    &.active, &:hover {
      opacity: 1;
    }

  }

  .asset-meta {
    display: flex;
    box-sizing: border-box;
    padding: 20px 0;

    aside {
      margin-left: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      @include transition(opacity .4s ease-in-out);

      &.hidden {
        display: flex;
        opacity: 0;
      }

      &.disabled {
        opacity: 0.5;
        cursor: no-drop;
      }

    }

    .asset-url {
      flex: 1;
      overflow: scroll;
      font-size: .8em;
    }
    
  }

}
