$black:     #3d464d;
$white:     #fff;
$offWhite:  #f7f7f7;
$gray:      #ccc;
$blue:      #5ea5d8;
$ltBlue:    #e1e8ed;
$sky:       #9bcfdd;
$red:       #da4c43;

/*$black: #333;*/
/*$white: #fff;*/
/*$green: #42b983;*/
/*$lightRed: #F1ACA8;*/
/*$lightBlue: #9bcfdd;*/
/*$darkBlue: #516e76;*/
/*$darkGray: #81888d;*/
/*$lightGray: #f9f9f9;*/

/*$fadedBlue: rgba(155, 207, 221, .7);*/
/*$fadedRed: rgba(218, 76, 67, .7);*/
/*$fadedBlack: rgba(0,0,0,.3);*/
/*$fadedDarkBlue: rgba(81, 100, 118, .7);*/
