$black: #2c3e50;
$white: #fff;

$red:  #DA4C43;
$lightRed: #F1ACA8;
$lightBlue: #9bcfdd;
$darkGray: #81888d;
$lightGray: #f5f5f5;
$green: #5cb85c;

$fadedBlue: rgba(155, 207, 221, .7);
$fadedRed: rgba(218, 76, 67, .7);
$fadedBlack: rgba(0,0,0,.3);
