$black: #333;
$white: #fff;

$red:  #DA4C43;
$lightRed: #F1ACA8;
$lightBlue: #9bcfdd;
$darkBlue: #516e76;
$darkGray: #81888d;
$lightGray: #f5f5f5;

$fadedBlue: rgba(155, 207, 221, .7);
$fadedRed: rgba(218, 76, 67, .7);
$fadedBlack: rgba(0,0,0,.3);
$fadedDarkBlue: rgba(81, 100, 118, .7);
