@import 'bourbon';
@import 'colors';

#new_comment { margin-top: 50px; }
#new_comment aside { margin-right: 15px; }
#new_comment input { opacity: .6; @include transition(all .2s ease); font-size: 16px; }
#new_comment input:focus { opacity: 1; }

.comments { flex-direction: column; }
.comment { width: 70%; align-items: center; margin-bottom: 15px; }
.comment aside { margin-right: 30px; }

.comment .text {
  background: $fadedRed;
  color: $white;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.comment .text:after {
  content: "";
  position: absolute;
  top: 22px;
  left: -12px;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent $fadedRed;
  display: block;
  width: 0;
}

.comment:nth-child(2n) { align-self: flex-end; justify-content: flex-end; }
.comment:nth-child(2n) aside { margin-right: 0; margin-left: 30px; }
.comment:nth-child(2n) .text { background: $fadedBlue; order: -1; color: #458496; }
.comment:nth-child(2n) .text:after {
  right: -12px;
  left: auto;
  border-width: 10px 0 10px 12px;
  border-color: transparent $fadedBlue;
}
