// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #e95c33;

#comments {
	margin-top: 3%;
}

.comment {
	display: block;
	margin-bottom: 2%;
	background: rgba(222,222,222,0.4);
	padding: 1%;
}

.author {
  opacity: .6;
  float: right;
}