@import 'bourbon';
@import 'colors';

label { display: none; }

input {
  display: flex;
  flex: 1;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #ddd;
  opacity: .6;
  font-size: 22px;
}

.input {
  margin-bottom: 25px;
}

input.file { border-bottom: 0; }

input.title { font-size: 52px; }

input.error { border-bottom: 1px solid $red; }

input:focus { outline: 0; }

button {
  background: #da4c43;
  padding: 20px 50px;
  text-align: center;
  color: #fff;
  border: 0;
  width: 100%;
  font-size: 22px;
  box-sizing: border-box;
}
