@import 'colors';
@import 'bourbon';

.grid {
  padding: 50px 7.5px;
  flex: 1;
  height: 5px;
  flex-wrap: wrap;
}

.grid-item {
  width: calc(33.3333% - 15px);
  height: 200px;
  padding: 15px;
  margin: 7.5px;
  background: $lightGray;
  color: $darkGray;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px 2px $lightGray;
  @include transition( all .3s ease);
}

.grid-item.big { width: calc(66.666667% - 15px); }

.grid-item:hover { background: $white; }

.grid-item .post { display: block; flex: 1; overflow: hidden; }

.grid img { display: block; margin: 0 auto; }

// .post {
//   background: $white;
//   color: $darkGray;
//   box-sizing: border-box;
//   width: $width;
//   height: $height;
//   @include transition( all .4s );
//   display: flex;
//
//   article {
//     margin: 1em;
//     position: relative;
//
//     #details {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right:0;
//       background: rgba(255,255,255,.6);
//       font-size: .8em;
//       display: flex;
//       padding: 0 20px;
//       opacity: 0;
//       @include transition(opacity .4s);
//
//       .comments, .likes {
//         flex: 1;
//       }
//
//       .likes {
//         align-self: flex-end;
//         text-align: right;
//       }
//     }
//
//   }
//
//   &.popular {
//     height: $high;
//   }
//
//   &:hover {
//     @include transform(scaleX(1.05));
//     cursor: pointer;
//
//     article {
//       color: $black;
//
//       #details {
//         opacity: 1;
//       }
//     }
//
//   }
//
//   article {
//     overflow: hidden;
//     width: 100%;
//
//     img {
//       margin: 0 auto;
//       display: block;
//     }
//   }
//
// }
