@import 'colors';
@import 'bourbon';

header {
  padding: 10px 20px 10px 0;
  position: fixed;
  top:0;
  left:0;
  right:0;
  background: $blue;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.15);
  @include display(flex);
  @include align-items(center);
  color: $white;
  z-index: 2;
}

header section {
  @include display(flex);
  @include flex(1);
  @include justify-content(flex-end);
}

.logo a {
  display: block;
  margin-left: -21px;
}

header a, .user-tools a, header a:hover { color: $white; }

.user-tools i:first-of-type {
  margin-right: 15px;
}

.logo img { height: 32px; }

#user-menu {
  position: fixed;
  position: absolute;
  padding: 10px;
  background: $white;
  color: $black;
  border-left: 15px solid $ltBlue;
  right: 0;
  top: 100px;
  @include transition(all .3s ease);
  width: 250px;
  @include transform(translate3d(225px, 0, 0));
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#user-menu.active {
  border-left: 15px solid $blue;
  @include transform(translate3d(0,0,0));
  cursor: normal;
}

#user-menu li {
  display: flex; position:
  relative;
  padding: 10px 15px;
  opacity: .8;
  align-items: center;
}

#user-menu li:hover { opacity: 1; }
#user-menu a { color: $black; }
li .crown { position: absolute; top: -10px; }
#user-menu img { width: 32px; height: 32px; margin-right: 10px;}
