@import 'bourbon';
@import 'colors';

@include font-face(open-sans, 'open-sans/OpenSans-Regular', normal, $asset-pipeline: true);
@include font-face(ostrich-sans-light, "ostrich-sans/ostrich-sans-light", normal, $asset-pipeline: true);
@include font-face(ostrich-sans-regular, "ostrich-sans/ostrich-sans-regular", normal, $asset-pipeline: true);

body {
  font-family: 'open-sans';
  font-size: 18px;
  color: $black;
}

div, section {
  display: flex;
  box-sizing: border-box;
}

#main {
  display: flex;
  position: relative;
  flex: 1;
  padding-top: 50px;

}

h1 {
  font-family: 'ostrich-sans-light';
  text-align: center;
}

h2 {
  font-family: 'ostrich-sans-regular';
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 15px;
}

// .plane {
//   position: absolute;
//   top: 65px;
//   @include animation(plane 20s infinite);
//   @include transform(translateZ(0));
// }

#stats {
  z-index: 2;
}

section {
  display: flex;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

// debug class
.hidden {
  opacity: 0;
}

.background .wave {
  background-image: image-url('wave.png');
  position: absolute;
  bottom: -60px;
  height: 150px;
  width: 300%;
  left: -100px;
  @include animation(wave 4s .1s infinite linear);
  @include transform-style(preserve-3d);
}

.flash {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 0;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
  @include transition(all .4s ease-in-out);
  cursor: pointer;
  display: none;

  .message {
    flex: 1;
    padding: 30px;
    color: $black;
    background: $white;
    display: flex;
    align-items: center;

    i {
      color: $red;
      margin-right: 25px;
    }
  }
}
