@import 'bourbon';
@import 'colors';

@include font-face(open-sans, 'OpenSans-Regular', normal, $asset-pipeline: true);

body {
  font-family: 'open-sans';
  font-size: 18px;
  line-height: 26px;
  color: $black;
  @include background-image(
    radial-gradient(circle closest-side, rgba(255,255,255,.1  ), transparent),
    asset-url('wave_cunt.png'),
    linear-gradient($lightBlue, $lightBlue));
  background-position: bottom right;
  background-repeat: no-repeat, repeat-x;
}

#app {
  display: flex;
  overflow: scroll;
  @include transition(transform .6s ease-in-out, opacity .4s);
  opacity: 1;
  flex: 1;
  z-index: 2;
  position: relative;

  &.transition {
    @include transform(translateY(300px));
    @include transform-origin(0 100%);
    opacity: 0;
  }

}

.dim {
  display: flex;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index:5;
  background: rgba(0,0,0,0.6);
  opacity:1;
  @include transition(opacity .4s ease-in-out);
  align-items: center;
  justify-content: center;

  &.hidden {
    opacity: 0;
    display: flex;
    bottom:100%;
    right: 100%;
  }
}


.disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.hidden {
  display: none;
}

img#plane {
  position: absolute;
  top: 500px;
  opacity: 0;
  @include animation(plane 20s infinite);
  z-index: 1;
}

#stats {
  z-index: 4;
}
