@import "bourbon";

@include font-face(bitter, 'bitter/bitter', normal, $asset-pipeline: true);
@include font-face(bitter-bold, 'bitter/bitter-bold', normal, $asset-pipeline: true);
@include font-face(typewriter, 'typewriter/typewriter', normal, $asset-pipeline: true);

$black: #2c3e50;
$green: #a2c5bf;

body {
  font-family: 'bitter';
  font-size: 18px;
  line-height: 26px;
  background: $green;
  color: $black;
}

#main {
  margin-top: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding: 0 20px;
}
