@import 'colors';

html {
  margin:0;
  padding:0;
  background: $lightBlue;
  display: flex;
}

body {
  flex: 1;
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding:0;
}

h1,h2,h3,h4,h5,h6,p {
  font-size: inherit;
  margin: 3% 0;
}

h1 {
  font-size: 4em;
  line-height: 1em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

a {
  color: $red;
  text-decoration: none;
  cursor: pointer;
}

.button.hidden {
  display: none;
}

.tipsy {
  z-index: 3;
}
