// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bourbon';
@import 'neat';

$blue: #41b7d8;
$red: #e95c33;
$postPadding: 0 3% 3% 0;

.form-input {
  @include outer-container;
  label { @include span-columns(3); }
  input, textarea { @include span-columns(9); margin: 1% 0;}
}

#post_content{
	height:300px;
}

 .post-container {
	display: block;
	margin-bottom: 5%;
	padding: postPadding;
}

.post {
	padding: postPadding;
	margin-bottom: 3%;
}

#post {
	border-bottom: 1px dashed #ddd;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

img {
  max-width: 100%;
}