@import 'bourbon';
@import 'neat';

$red: #e95c33;
$black: #2c3e50;
$green: #a2c5bf;

#posts {
  margin-top: 100px;
}

.post {
  background: #f1f1f1;
  border: 3px solid #91b1ac;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.1);
  padding: 2%;
  border-radius: 3px;
  width: 300px;
  height: 47%;
  float: left;
  article {
    max-height: 100%;
    overflow: hidden;
  }
}

.post:before {
  display: block;
}

.post:hover {
  background: #ffffff;
  cursor: pointer;
}

.meme {
  text-align: center;
}

.post-meta {
  font-size: 0.75em;
  display: block;
  text-align: center;
  @include outer-container;
  section {
    @include span-columns(4);
  }
  a {
    color: $black;
  }
  i {
    color: $red;
  }
}


#post {
  max-width: 950px;
  margin: 0 auto;
  padding: 3%;
  background: #ffffff;
  border-left: 5px solid #91b1ac;
  border-right: 5px solid #91b1ac;
  h1 {
    padding-top: 60px;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
