@import 'bourbon';
@import 'variables';

@media (max-width: 992px) {

  .posts { padding: 0; }
  
  .row { @include flex-wrap(wrap); }
  
  .post, .popular { 
    max-width: inherit; 
    width: 100%; 
    margin: 7.5px 0;
    font-size: $phone;
    @include flex-basis(inherit);
  }

  .post .meta {
    height: 75px;
    @include transform(translate3d(0,75px,0));
  }

  .post-image {
    max-height: 200px;
  }

  /* -- show -- */
  .post-meta, .extra { @include flex-wrap(wrap); }

  .post-meta section, .extra section {
    width: 100%;
    margin: 15px 0; 
    @include justify-content(center);
  }

}
