@import 'bourbon';

@media (max-width: 600px) {

  .posts { padding: 0; }
  
  .row { @include flex-wrap(wrap); }
  
  .post, .popular { 
    max-width: inherit; 
    width: 100%; 
    @include flex-basis(inherit);
    margin: 7.5px 0;
  }

  /* -- show -- */
  .post-meta, .extra { @include flex-wrap(wrap); }

  .post-meta section, .extra section {
    width: 100%;
    margin: 15px 0; 
    @include justify-content(center);
  }

}
