!!!
%html
  %head
    %title nplol
    %link(href="/css/style.css" rel="stylesheet")
    %script(scr="/js/app.js" type="text/javascript")
    = csrf_meta_tags
  %body
    %header
      = render 'partials/header'
    %section#main
      = yield

