!!!
%html
  %head
    %title nplol
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ class: get_layout }
    %header
      %i.fa.fa-fire(title='Yes, this is fire.')
      = link_to 'nplol', root_path
      %i.fa.fa-search.fa-small(title='Search for stuff.')
    #main{ class: %w[green red navy].sample }
      =render 'layouts/layout', layout: get_layout
