!!!
%html
  %head
    %title nplol
    %link(href="css/style.css" rel="stylesheet")
    = csrf_meta_tags
  %body
    %header
      = render 'partials/header'
    %section#main
      = yield
    %script(src="js/app.js")
